
@{
    ViewData["Title"] = "AboutUs";
}

<img src="~/img/logo.png" id="logo" style="height:100px;width:100px;position:fixed; margin-bottom:100px"/>
<div style="margin-top:75px; margin-left:120px">

<h1 >AboutUs</h1>
<h1>AboutUs</h1>
<h1>AboutUs</h1>
<h1>AboutUs</h1>
<h1>AboutUs</h1>
<h1>AboutUs</h1>
<h1>AboutUs</h1>
<h1>AboutUs</h1><h1>AboutUs</h1><h1>AboutUs</h1><h1>AboutUs</h1>
<h1>AboutUs</h1>
<h1>AboutUs</h1>
<h1>AboutUs</h1>
<h1>AboutUs</h1>
<h1>AboutUs</h1>
<h1>AboutUs</h1>

<h1>AboutUs</h1>
<h1>AboutUs</h1>
<h1>AboutUs</h1>
<h1>AboutUs</h1>
<h1>AboutUs</h1><h1>AboutUs</h1>
<h1>AboutUs</h1><h1>AboutUs</h1>
<h1>AboutUs</h1>
</div>

<script>
     window.onscroll = function() {scrl()};
    function scrl()
    {
        var top = $(window).scrollTop();
        console.log(top);
        $("#logo").css('transform', 'rotate(' + top + 'deg)');
    }
</script>