
@{
    ViewData["Title"] = "ChangePassword";
}
@model  GeekStore.Data.ViewModels.ChangePasswordViewModel
    <div class="container register">
        <div class="row">
            <div class="col-md-3 register-left">
                <img class="img-anim" src="~/img/logo.png" alt="" />
                <h3>Welcome</h3>
                <p>You are 30 seconds away from buying with the lowest prices!</p>
                

            </div>
            <div class="col-md-9 register-right">

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h3 class="register-heading">Sign in</h3>


                        <div class=" register-form ml-5">
                            <form method="post" asp-controller="Account" asp-action="ChangePassword">

                                <div class="form-group">
                                    <input type="password" asp-for="Password" style="width:50%" class="form-control" placeholder="Password *" value="" />
                                    <input type="password" asp-for="PasswordConfirm" style="width:50%" class="form-control" placeholder="Confirm password *" value="" />
                                </div>

                                <input type="submit" class="btnRegister" value="Change" />
                                <div class="validation" asp-validation-summary="ModelOnly"></div>



                            </form>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>