
@{
    ViewData["Title"] = "ForgotPassword";
}
@model GeekStore.Data.ViewModels.ForgotPasswordViewModel
<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img class="img-anim" src="~/img/logo.png" alt="" />
            <h3>Welcome</h3>
            <p>You are 30 seconds away from buying with the lowest prices!</p>
            <a asp-controller="Account" asp-action="Login" style="text-decoration: inherit;color:inherit; position: inherit;">
                <input type="button" value="Login" /><br />
            </a>
            
        </div>
        <div class="col-md-9 register-right">

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">Sign in</h3>


                    <div class=" register-form ml-5">
                        <form method="post" asp-controller="Account" asp-action="ForgotPassword">

                            <div class="form-group">
                                <input type="email" asp-for="Email" style="width:50%" class="form-control" placeholder="Your Email *" value="" />
                            </div>
                            
                            <input type="submit" class="btnRegister" value="Send" />
                            <div class="validation" asp-validation-summary="ModelOnly"></div>



                        </form>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>


