
@{
    ViewData["Title"] = "Search";
}
@model GeekStore.Data.ViewModels.SearchViewModel
<form method="post" asp-controller="Product" asp-action="Search" class="form-inline my-2 my-lg-0" id="search-form">
    <input asp-for="Name" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>